.footer { 
    background-color: #878787;
    color: #FFF;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Change to fixed if you want it always visible */
    width: 100%;
}

.social_list { 
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{ 
    margin: 0 1em;
}

.social_list li:hover { 
    color:#6a6768;
}

.social_list svg { 
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right { 
    margin-top: 2em;
}

.copy_right span { 
    font-weight: bold;
    color: black;
}